.container {
  width: min(700px, 90%);
  margin: 40px auto;
}

h1 {
  margin-bottom: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.formulario label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: bold;
}

.formulario input {
  padding: 10px;
  font-size: 16px;
}

.formulario button {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.lista-series {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.serie {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;

  display: flex;
  justify-content: space-between;
}